.content h1
{
    text-align: center;
}

.js_projects_container
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2
{
    text-align: center;
}

.project_content
{
    padding: 16px;
    display: flex;
    margin-bottom: 32px;
}

.project_content iframe
{
    width: 100%;
}

.project_image
{

    width: 100%;
}

.project_content div
{
    width: calc(100% - 32px);
    padding: 20px;
}

@media only screen and (max-width: 850px) 
{

    #canvas
    {
        width: 90%;
    }

    .project_content
    {
        flex-direction: column;
    }

    iframe
    {
        height: 600px;
        width: 100%;
        margin-left: 10%;
    }
}
