

.introduction
{
    width: 80%;
    padding: 0 10%;
}

.introduction h1
{
    margin-top: 4px;
    text-align: center;
    line-height: 52px;
}

.introduction h2
{
    margin-top: 4px;
    text-align: center;
    font-size: 30px;
    line-height: 62px;
    font-weight: 200;
}

h2 b
{
    color: rgb(159, 185, 117);
}

.introduction ul
{
    padding-left: 16px;
}

.introduction li
{
    margin-bottom: 16px;
}

@media only screen and (max-width: 850px) 
{
    #canvas
    {
        width: 90%;
    }

    .introduction h1
    {

        font-size: 32px;
        line-height: 42px;
    }

    .introduction h2
    {
        font-size: 28px;
        line-height: 42px;
    }

    .introduction
    {
        width: calc(100% - 32px);
        padding: 0 16px;
        font-size: 20px;
        font-weight: 200;
        line-height: 40px;
    }

    .introduction ul
    {
        line-height: 40px;
    }
}

/*  planet sus*/

.video_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}