

.introduction
{
    width: 100%;
    font-size: 2.5vh;
    line-height: 40px;
    padding: 0 32px;
}

.introduction h1
{
    margin-top: 4px;
    text-align: center;
    font-size: 5vh;
    line-height: 52px;
}

.introduction h2
{
    margin-top: 4px;
    text-align: center;
    font-size: 50px;
    line-height: 62px;
    font-weight: 200;
}

h2 b
{
    color: rgb(227 179 211);
}

.introduction p
{
    text-align: justify;
    text-justify: inter-word;
}

.introduction ul
    {
        padding-left: 16px;
    }

.introduction li
{
    margin-bottom: 16px;
}

@media only screen and (max-width: 850px) 
{
    #canvas
    {
        width: 90%;
    }

    .introduction
    {
        width: calc(100% - 32px);
        padding: 0 16px;
        line-height: 25px;
    }

    .introduction h1
    {

        font-size: 40px;
        line-height: 42px;
    }

    .introduction h2
    {
        font-size: 38px;
        line-height: 42px;
    }

    .introduction P
    {
        font-size: 30px;
        line-height: 40px;
    }

    .introduction ul
    {
        line-height: 40px;
    }
}

/*  planet sus*/

.video_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}