html {
    scroll-behavior: smooth;
  }
body{
    background-color: #FFFBF8;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Helvetica", Sans-Serif;
    background-color:#FFFBF8;
    overflow-x: hidden;
}
.nav-links{
    display: flex; 
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
.logo{
    color:#2b2b2b;
}
a{
    text-decoration: none;
    color: #7A7A7A;
}
a:hover{
    color: #E27D60;
}
img:hover{
    opacity: 20%;
}
h1{
    position: relative;
    color: #2b2b2b;
    font-family: Josefin Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0.01em;
    text-align: center;  
}
b{
    color: #E27D60;
}
img{
    width: 50%;
    float: right;
    
}
.project{
    position: relative;
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    margin-bottom: 1%;
    font-family: Josefin Sans;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.01em;
}
.projectText{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 16px;
}
.projectText h1{
    text-align: left;
    font-size: 23px;
}
img{
   max-width: 40%;
}
#opener{
    position: relative;
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 25%;
    height: 200px;
    color: #2b2b2b;
    font-family: 'Oxygen', sans-serif;
    font-size: 4em;
    font-weight: 400;
    line-height: 97px;
    letter-spacing: 0.01em;
    text-align: center;
}
