html {
    scroll-behavior: smooth;
  }
#wrapper{
    overflow-x: hidden;
}
body{
    background-color: #FFFBF8;
    text-align: center;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Helvetica", Sans-Serif;
    background-color:#FFFBF8;
    overflow-x: hidden;
    
}
.nav-links{
    display: flex; 
    justify-content: space-around;
    width: 35%;
    list-style: none;
    padding-left: 0;
}
li{
    padding-top: 2%;
}
.forMobileLi{
    display: none;
}

#logo a{
    color: #E27D60;
}
#logo{
    position: static;
    top:0;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    padding-top: 0;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:#e08f79;
    margin: 5px;
}
.burger{
    display: none;
}
a{
    text-decoration: none;
    color: #7A7A7A;
}
a:hover{
    color: #E27D60;
}
img:hover{
    opacity: 20%;
}
#linkedIn{
    width: 100px;
    height: 100px;
    align-items: center;
    position: relative;
    float: inherit;
}
#picDiv{
    margin-bottom: 100%;
}
#aboutP{
    width: 100%;
    font-size: 45px;
}
#profilePicture{
    width: 456px;
    border-radius: 50%;
    float: right;
    margin-left: 2%;
    margin-top: 2%;
}
#profilePictureV2{
    border-radius: 0%;
    align-items: center;
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 5%;
    width: 30%;
}
h1{
    position: relative;
    color: #2b2b2b;
    font-family: Josefin Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0.01em;
    text-align: center;  
}
b{
    color: #E27D60;
}
img{
     width: 100%;
    border-radius: 20px;
    /* max-width: 40%; */
    
}
.projects{
    padding-top: 20px;
    margin-bottom: 2%;
}
.project{
    position: relative;
    width: 100%;
    height: 30vh;
    padding-top: 2%;
    /* margin-bottom: 2%; */
    font-family: Josefin Sans;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.01em;
}
.aboutText{
    width: 40%;
    font-size: 18px;
    margin-left: 30%;
    font-family: Josefin Sans;
    line-height: 37px;
    letter-spacing: 0.01em;
}
.projectText{
    position: flex;
    width: 100%;
    align-items:center;
    text-align: center;
    font-size: 20px;
}
.projectText h1{
    text-align: center;
    font-size: 28px;
    font-weight: 200;
}
.title {
    color:#E27D60;
    font-weight: 300;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
}
.openingP{
    width: 60%;
    margin-left: 20%;
    font-size: 18px;
    font-family: Josefin Sans;
    line-height: 37px;
    letter-spacing: 0.01em;
}
.projectImg{
    position: inherit;
    width: 80%;
}
#opener{
    position: relative;
    width: 65%;
    margin-left: 17.5%;
    margin-top: 4%;
    margin-bottom: 6%;
    color: #2b2b2b;
    font-family: 'Oxygen', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    line-height: 97px;
    letter-spacing: 0.01em;
    text-align: center;
}
#about{
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 0%;
    color: #2b2b2b;
    font-family: 'Oxygen', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    line-height: 97px;
    letter-spacing: 0.01em;
    text-align: center;
}
.line{
    position:inherit;
    background-color: #e08f79;
    margin-left: 10%;
    width: 80%;
    height: 2px;
    border-radius: 25%;
    margin-bottom: 25px ;
}
#explore{
    font-size: .8em;
}
#backToTop{
    position: relative;
    width: 100%;
    height: 100px;
    font-family: Josefin Sans;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.01em;
}
#sapori{
    margin-top: 4%;
}
.button-51 {  
  font-family: Josefin Sans;
  background-color: transparent;
  border: 1px solid #E27D60;
  box-sizing: border-box;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 25px 23px;
  margin-bottom: 15px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #FFFBF8;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: 0px;
  top: 0px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
    background-color: #e08f79;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

.buttonDiv{
    margin-top:40px;    
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width:760px){
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.project{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 18em;
    font-size: 1em;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.01em;
}
.projectText p{
    display: none;
}
.projectText h1{
    font-size: 0.8em;
    line-height: 37px;
}
.button-51{
    font-size: 0.8em;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 13px;
}
.nav-links{
    display: none;
    transition: transform 0.5s ease-in; 
    position: absolute;
    right: 0px;
    height: 86vh;
    top: 14vh;
    background-color: #FFFBF8;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.nav-links li{
    opacity: 0;
}
.burger{
    display: block;
    cursor: pointer;
}
#opener{
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 6%;
    color: #2b2b2b;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 80%;
}
nav{
    margin-top: 10%;
    margin-bottom: 30px;
}
.forMobileLi{
    display: flex;
}
/* mobile view for project page */
#about{
    margin: 0;
    width: 100%
}
iframe{
    width: 100%;
}
.title{
    margin-top: 10%;
    font-size: .7em;
    line-height: 60px;
}
.openingP{
    font-size: .25em;
    line-height: 35px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/*Mobile view for about page*/
#profilePicture{
    width: 80%;
    float: none;
    margin-top: 4%;
}
#aboutP{
    font-size: .4em;
    line-height: 1.5em;
    width: 100%;
}
.aboutText{
    width: 100%;
    margin-left: 0;
    font-size: 0.8em;
    line-height: 2.2em;
}
/* mobileView for contact page */
#linkedIn{
    float: none;
    margin-top: 5%;
}
}
.nav-active{
    display: flex;
    height: fill;
    padding-bottom: 120vh;
}
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity : 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(135deg) translate(5px, -6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
