
#full_name
{
    display: block;
}

#short_name
{
    display: none;
}

body
{
    margin: 0;
    display: block;
    background-color: white;
    font-size: 30px;
    width: 80vw;
    height: 100vh;
    display: flex;
    padding: 0 10vw;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

hr
{
    height: 1px;
    border: 0;
    background-color:  rgb(227 179 211);
}

a:hover
{
    color: rgb(227 179 211);
}

a, a:visited, a:active 
{
    color: inherit;
    text-decoration: none;
}

.header
{
    align-self: center;
    width: 100%;
    padding: 21px;
    background-color: #ffffff;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}

.logo_container
{
    color: black;
    width: 50%;
    font-size: 3vh;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

.nav_list
{
    margin-left: 25%;
    width: 40%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-size: 2vh;
    font-family: 'Jost', sans-serif;
}

li:hover
{
    color: black;
}

#selected
{
    color: black;
}

.content
{
    width: 100%;
    align-self: center; 
    margin: 0;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.content_left
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
    width: 40%;
    height: 100%;
    text-align: right;
}

.headline
{
    margin: 0;
    font-size: 5vh;
    font-weight: 400;
}

.byline
{
    margin: 16px 0px 8px 0px;
    font-weight: 400;
}

.button_container
{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
}

.button_container a
{
    text-decoration: underline;
    font-weight: 200;
}

button
 {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

button:focus-visible
{
    box-shadow: #222222 0 0 0 2px, rgba(227 179 211, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

button:hover
{
    color: rgb(227 179 211);
}


button:hover img
{
    opacity: 0.8;
}

button:disabled 
{
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

.content_right
{
    width: calc(60% - 34px);
    height: 100%;
    padding: 0px 17px;
    float: right;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.content_left img
{
    width: calc(100% - 34px);
    padding: 0px 34px 0 0;
}

.footer
{   
    width: 100%;
    height: 10%;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
}

.burger
{
    display: none;
}

/*
=================================================================================================================================================================
 Muisc Page
 ================================================================================================================================================================
*/

.video_container
{
    margin-bottom: 5vh;
}

.video_content
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;  
}

/*
=================================================================================================================================================================
 Projects Page
 ================================================================================================================================================================
*/
.projects_container
{
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.project_button
{
    border: none;
    width: calc(15vw - 16px);
    border-radius: 0%;
    padding: 12px;
    margin: 8px;
    margin-bottom: 64px;
}

.project_button img
{
    width: 100%;
}

.project_button h1
{
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}

.project_button p
{
    font-weight: 200;
}

@media only screen and (min-width: 1051px) 
{

    .project_button
    {
        width: calc(15vw - 16px);
        height: calc(15vw - 16px);
    }
}

@media only screen and (max-width: 1050px) 
{
    .projects_container 
    {
       flex-direction: row;
       justify-content: center;
       align-items: center;
    }

    .project_button
    {
        padding: 4px;
        width: 300px;
        margin-bottom: 16px;
        line-height: 16px;
    }

        .project_button p
    {
        font-size: 16px;
        font-weight: 200;
    }
}

/*
=================================================================================================================================================================
Photos Page
 ================================================================================================================================================================
*/


    .photo_container
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    .photo
    {
        margin: 32px 0;
        width: 45%;
    }


@media only screen and (max-width: 850px) 
{

    .photo
    {
        margin: 12px 0;
        width: 100%;
    }
}

/*
=================================================================================================================================================================
Mobile View
 ================================================================================================================================================================
*/


@media only screen and (max-width: 1050px) 
{

    body
    {
        font-size: 22px;
    }

    .byline
    {
        display: none;
    }
    
    .logo_container
    {
        font-size: 3.5vh;
        height: 100%;
        line-height: 32px;
        margin-left: 25%;
        font-weight: bold;
        text-align: center;
    }
    
    .header
    {
        align-self: center;
        width: 100%;
        margin-bottom: 0;
        justify-content: space-between;
    }

    #full_name
    {
        display: none;
    }

    #short_name
    {
        display: block;
    }

    body
    {
        overflow-x: hidden;
        padding: 0;
        width: 90vw;    
        padding: 0 5vw;
    }

    .burger_container
    {
        margin-right: 16px;
    }

    .burger
    {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 44px;
      height: 34px;
      margin-right: 10px;
    }

    .burger div
    {    
        position:inherit;
        background-color: rgb(227 179 211);
        margin-left: 10%;
        width: 80%;
        height: 3px;
        margin-bottom: 5%;
        border-radius: 25px;
        transition: all .4s ease-out;
    }

    .nav_list
    { 
        position: fixed;
        left: 100%;
        height: 80vh;
        padding-bottom: 10vh;
        top: 10vh;
        margin: 0;
        background-color: white;    
        flex-direction: column; 
        justify-content: space-evenly;
        padding-inline-start: 0;
        width: 100vw;
        z-index: 5;
        font-size: 3.5vh;
        transition: all 0.4s ease-out;
    }

    .nav-active
    {
        display: flex;
        left: 0;
    }

    .nav-active:first-child
    {
        color: aqua;
    }


    .content_left
    {
        width: calc(100% - 34px);
        height: auto;
        margin-bottom: 16px;
        justify-content: space-between;
    }

    .content_left p
    {
        margin: 2vh 0;
        text-align: right;
    }

    .content_right
    {
        align-self: center;
        justify-content: center;
        width: calc(100% - 32px);
        padding: 16px;
        float: none;
        height: auto;
        padding-bottom: calc(5% + 2vw);
        line-height: 40px;
        display: flex;
    }

    .content_left img
    {
        margin: 0 16px;
        padding: 0;
        width: 100%;
        height: auto;
        filter: none;
    }

    button
    {
        width: 45%;
        font-size: 8px;
        font-weight: 600;
        line-height: 2px;
    }

    .button_container
    {
        flex-direction: column;
        justify-content: space-around;
        align-self: flex-end;
        width: 100%;
        height: 120px;
    }

    .fixed
    {
        position: fixed;
    }

    .video_container
    {
        width: 100%;   
        font-size: 1.5vh;
    }

    .video_container iframe
    {
        width: 540px;
        height: 320px;
        margin: 0;
    }
}
    
    @keyframes navLinkFade
    {
        from 
        {
            opacity: 0;
            transform: translateX(50px);
        }
        to 
        {
            opacity : 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1
    {
        transform: rotate(135deg) translate(5px, -6px);
    }

    .toggle .line3
    {
        opacity: 0;
    }

    .toggle .line2
    {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    



/*
CCD5AE 
E9EDC9
FEFAE0 
FAEDCD
*/